@import 'index.css';
@import 'assess.css';

.herosection {
	display: flex;
	justify-content: flex-start;
}

@media screen and (max-width: 428px) {

	.prototypestage .ideation-img .body  {
		display: flex;
		flex-direction: column;
	}

}